html {
    /*border-bottom: solid 40px #FFF;*/
    -webkit-user-select:none;
}

body {
	background-color: #f86f05;
	color:#FFF;
	font-family:sans-serif;
	-webkit-app-region: drag;
	margin:0;
	padding:0;
}

header {
    -webkit-transition:0.3s;
    height:55px;
    transition:0.3s;
    background-color:#2c2c2c;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image:-webkit-linear-gradient(top, #333333, #222222);
    background-repeat:repeat-x;
    line-height:53px;
    padding:0px 20px 0px 20px;
}

section {
    width: 500px;
    margin: 20px auto 0px auto;
}

section h1 {
	text-align:center;
	margin-bottom: 13px;
}

section div {
	width:100%;
}

section div#icon {
	background-image:url('icon.png');
	height: 180px;
	width: 180px;
	background-repeat: no-repeat;
	position:fixed;
	bottom: -55px;
	left: -50px;
	background-size: 180px;
	-webkit-transform: rotate(28deg);
}

section div input[type="text"] {
    background-color:#333;   
    padding:10px;
    border:solid 4px #FFF;
    border-radius:3px;
    box-shadow:0px 1px 7px 0px #000;
    color:#FFF;
    font-family:sans-serif;
    font-weight:bolder;
    font-size:x-large;
    height: 60px;
}

section div input#title {
	width: 100%;
	float:left;
}

section div input#artist {
	width:39%;
	margin-left: 5px;
}

section div input[type="button"] {
    height: 60px;
    position:relative;
    top: -3px;
}

section ul#list {
    list-style:none;
    padding-left: 0px;
    background-color: #FFF;
    color: #000;
    width: 400px;
    margin: 74px auto 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid 2px #C64C03;
    border-top: none;
    max-height:140px;
    overflow-x:hidden;
    overflow-y:auto;
}

section ul#list li:hover {
    background-color:#DDD;
}

section ul#list li {
    border-bottom:ridge 1px #333;
    padding: 7px 15px 7px 15px;
}

section ul#list li:last-child {
    border-bottom:none;
    padding-bottom:7px !important;
}

section ul#list li:last-child:hover {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}